.title-text{	
     -fx-font-size: 35px;
     -fx-font-weight: bold;
    -fx-fill: #EEFBFB;
}
.main-container{
    -fx-alignment: top-center;
   
    -fx-background-color: #4078ac;
}
.form-container{
    -fx-vgap:10px;
    -fx-alignment: center;
}
.landing-image{
    -fx-background-color: transparent;
}
.landing-container{
    -fx-vgap:10px;
   -fx-background-color:  #12232E;
}
.split-pane{
    -fx-padding: 0;
}
.text-title{
    -fx-fill:#EEFBFB;
    -fx-font-weight: bold;
}
.submit-button{
    -fx-background-color:#203647;
    -fx-font-weight: bold;
    -fx-text-fill:#EEFBFB;
    -fx-border-radius:15px;
    -fx-border-color:transparent;
    -fx-background-radius: 15px;
}
.submit-button:hover{
    -fx-background-color: #233b4d;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill:#EEFBFB;
    -fx-border-radius:15px;
    -fx-border-color:transparent;
    -fx-background-radius: 15px;
}
.submit-button:pressed{
    -fx-background-color:#32546d;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill:#EEFBFB;
    -fx-border-radius:15px;
    -fx-border-color:transparent;
    -fx-background-radius: 15px;
}
.tab{
    -fx-font-size: 15px;
}
.tab:hover{
    -fx-cursor:hand;
    
}

.tab-pane .tab-header-area .tab:selected{
    -fx-border-width: 4 0 0 0;
    -fx-font-weight:bold;
    -fx-border-radius:null;
    -fx-border-color: #12232E #dddddd white #dddddd;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }
 .scroll-pane {
    -fx-background-color: transparent;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
 }
.track-title{
    -fx-font-size:27px;
    -fx-font-weight:bold;
}
.place-holder{
    -fx-font-size:25px;
}
.tree-table-cell{
    -fx-alignment: center;
    -fx-font-size: 15px;
}
.tree-table-view .column-header{
    -fx-background-color: #12232E;
    -fx-border-color:#12232E;
}
.tree-table-view .label{
    -fx-text-fill: #EEFBFB;
    -fx-font-size: 15px;
}
.title-column{
    -fx-font-weight:bold;
}
.tree-table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
}

/**.tree-table-row-cell:selected .tree-table-cell {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}**/
.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}
.status-text{
    -fx-font-weight:bold;
    -fx-font-size:15px;
}

.combo-box .list-view .list-cell:hover{
    -fx-background-color: #4078ac;
    -fx-cursor:hand;
}
.combo-box .list-view .cell:selected{
    -fx-background-color: #4078ac;
}
.combo-box, .combo-box:hover{
    -fx-font-size:14px;
    -fx-background-color: transparent;
}
.title-column, .status-column{
    -fx-cursor:hand;
}
.title-column:hover{
    -fx-text-fill:#5590b9;
}
.title-column:selected, .company-column:selected, .date-column:selected{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill:black;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.status-column:selected{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill:black;
    -fx-table-cell-border-color: derive(#5590b9, 5%);
}