.title-text{	
     -fx-font-size: 35px;
     -fx-font-weight: bold;
    -fx-fill: #EEFBFB;
}
.main-container{
    -fx-alignment: top-center;
    -fx-vgap:25px;
    -fx-background-color: #007CC7;
}
.form-container{
    -fx-alignment: center;
    -fx-vgap: 10px;
}
.landing-image{
    -fx-background-color: transparent;
}
.landing-container{
    -fx-vgap:10px;
   -fx-background-color:  #12232E;
}
.split-pane{
    -fx-padding: 0;
}
.text-field{

}